<!-- <section>
    <header>
        <h1>Todos</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header>
    <section>
        <ul>
            <li *ngFor="let todo of todos" [class.completed]="todo.complete">
                <div class="view">
                    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
                    <label>{{todo.title}}</label>
                    <button class="destroy" (click)="removeTodo(todo)"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="todos.length > 0">
        <span class="todo-count">
      <strong>{{todos.length}}</strong>
      {{todos.length === 1 ? 'item' : 'items'}} left
    </span>
    </footer>
</section> -->

<!-- <section class="todoapp">
    <header class="header">
        <h1>Todos</h1>
        <input class="new-todo" placeholder="What needs to be done?" [(ngModel)]="newTodo.title" autofocus="" (keyup.enter)="addTodo()">
    </header>
    <section class="main" *ngIf="getTodos().length > 0">
        <ul class="todo-list">
            <li *ngFor="let todo of getTodos()" [class.completed]="todo.complete">
                <div class="view">
                    <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
                    <label>{{todo.title}}</label>
                    <button class="destroy" (click)="removeTodo(todo)">Delete</button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="getTodos().length > 0">
        <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
    </footer>
</section> -->

<!-- [property]="expression": set property of an element to the value of expression
(event)="statement": execute statement when event occurred
[(property)] = "expression": create two-way binding with expression
[class.special]="expression" add special CSS class to element when the 
value of ecression id truthy
[style.color]="expression" set color CSS property to the value of expression

-->

<h1>{{message}}</h1>
<hr>
<input type="button" value="Add" class="btn btn-default" (click)="addEmp()" />
<div style="overflow:auto" *ngIf="employees.length > 0">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>EmpNo</td>
                <td>EmpName</td>
                <td>Salary</td>
                <td>DeptName</td>
                <td>Designation</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let emp of employees;let i=idx">
                <ng-template [ngTemplateOutlet]="loadTemplate(emp)" [ngOutletContext]="{ $implicit: emp, idx: i }"></ng-template>
            </tr>

        </tbody>
    </table>
</div>
<div>{{statusMessage}}</div>


<!--The Html Template for Read-Only Rows-->
<ng-template #readOnlyTemplate let-emp>
    <td>{{emp.EmpNo}}</td>
    <td>{{emp.EmpName}}</td>
    <td>{{emp.Salary}}</td>
    <td>{{emp.DeptName}}</td>
    <td>{{emp.Designation}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editEmployee(emp)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteEmp(emp)" class="btn btn-danger" />
    </td>
</ng-template>
<!--Ends Here-->
<!--The Html Template for Editable Rows-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="selemp.EmpNo" readonly disabled />
    </td>
    <td>
        <input type="text" [(ngModel)]="selemp.EmpName" />
    </td>
    <td>
        <input type="text" [(ngModel)]="selemp.Salary" />
    </td>
    <td>
        <input type="text" [(ngModel)]="selemp.DeptName" />
    </td>
    <td>
        <input type="text" [(ngModel)]="selemp.Designation" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveEmp()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>

</ng-template>